<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Get a new Passeword</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeForgot()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
                <h4>Enter your email</h4>
        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Email">
                </label>
                <button class="button button-small">
                    Submit
                </button>
            </div>

        </div>
    </ion-content>
</ion-modal-view>
