<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
      <div class="list card">
        <div class="item item-avatar">
          <img src="img/avat1.png">
          <h2>Marty McFly</h2>
          <p>November 05, 1955</p>
        </div>
        <div class="item item-body">
          <img class="full-image" src="img/{{thumbnail.img}}">
          <p>
           Prend toi en photo te baignant dans une rivière.
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
