<ion-view view-title="Signin">
    <ion-nav-bar ng-controller="MyCtrl">
        <ion-nav-back-button class="button-clear" ng-click="myGoBack()">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <form ng-submit="doSignin()">
            <div class="list">
			  <span class="input input--hoshi">
				  <input class="input__field input__field--hoshi" type="text" id="input-4"
                         ng-model="loginData.username"/>
                  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                      <span class="input__label-content input__label-content--hoshi">Street</span>
                  </label>
              </span>
                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="input-5"
                     ng-model="loginData.password"/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">Town</span>
                    </label>
                </span>
                <button class="button button-block button-positive" type="submit">Save</button>
            </div>
        </form>

    </ion-content>
</ion-view>

